* {
	box-sizing: border-box;
}

html {
	margin-top: 0;
}

body {
	text-align: center;
	margin-top: 0;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #1D1D1D;
}

header {
	background-color: black;
	color: white;
	height: 75vh;
	width: 104%;
	margin-left: -2%;
	position: relative;
}

h1 {
	margin-top: 0;
	padding-top: 1%;
	font-size: 1.5em;
}

h2 {
	font-size: 1em;
	background-color: green;
	margin-top: 0;
	margin-bottom: 0;
}

.parkImageDiv{
	width: 100%;
	height: 75%;
	/*border: 1px solid white;*/

}

form{
	height: 10%;
	width: 100%;
	position: absolute;
	bottom: 0;
}

label {
	display: block;

}

input {
	width: 40%;
	height: 50%;
	color: black;
	/*margin-top: 60vh;*/
	min-width: 230px;
}

section {
	border: 1px solid grey;
	width: 100%;

}

ul {
	width: 100%;
	/*margin-left: auto;
	margin-right: auto;*/
	/*list-style: inside;*/
	list-style: none;
}

li {
	text-align: left;
	/*padding-left: 35%;*/
}

div{
	width: 100%;
	margin: 0;
}

.parkImage, .trailImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom center;
}

.image {
	height: 50vh;
	max-height: 100%;
}

.weatherInfo li {
	text-align: center;
}

.weatherInfo ul {
	padding: 0;
}

.weatherIcon {
	width: 15%;
	background-color: white;
}

