* {
	box-sizing: border-box;
}

body {
	text-align: center;
	margin: 2%;
}

section {
	border: 1px solid grey;
	width: 100%;

}

ul {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	list-style: inside;
}

li {
	text-align: left;
	padding-left: 35%;
}

div{
	width: 100%;
	margin: 0;
}

.parkImage, .trailImage {
	max-width: 100%;
	max-height: 50%;
	object-fit: cover;
}