[class*="col-"] {
  float: left;
  /*padding: 2%;*/
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
	width: 100%;
}

.col-1, .col-2, .col-3 {
	width: 100%;
}

@media screen and (min-width: 760px) {
	.col-2 {
		width: 50%;
	}

	.col-3 {
		width: 33.33%;
	}
}